@charset "UTF-8";
.containers {
  padding: 83px 310px 83px 310px;
}

.steps {
  padding: 0 70px 0 70px;
  margin-bottom: 52px;
}

.step {
  width: 33.3%;
}

.progress-step {
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 34px;
  color: #ffff;
}

.progress-step-text {
  font-size: 25px;
  color: #8C8C8B;
}

.progress {
  right: 0;
  top: 42.5px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 45%;
}

.card {
  color: #585858;
  font-weight: 400;
}

.card-header {
  padding: 40px;
  font-weight: 100;
  position: relative;
  font-size: 30px;
  color: #8C8C8B;
}

.card-header div:last-child {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.card-body {
  padding: 37px 50px 67px 50px;
}

.order-items-info,
.order-items-number {
  font-size: 25px;
  color: #8C8C8B;
}

.order-info-post {
  font-size: 25px;
  color: #585858;
}

.order-info-post input {
  font-size: 25px;
  color: #585858;
}

.order-info-post .form-check-input {
  width: 24px;
  height: 24px;
  color: #EAE8E8;
}

.order-info-post .form-check-label {
  margin-left: 20px;
  font-size: 20px;
  color: #8C8C8B;
}

.order-items-number,
.order-item-number {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  border-bottom: 1px solid #eae8e8;
  position: relative;
}

.order-list .order-item-number {
  color: #585858;
}

.order-list .order-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-list .order-item-info .order-list-name {
  width: 300px;
  height: 90px;
  padding-left: 25px;
}

.order-item-qty {
  font-size: 25px;
  margin-right: 95px;
}

.order-item-qty button {
  background-color: transparent;
  width: 34px;
  height: 41px;
  color: #8C8C8B;
  border-radius: 2px 0 0 2px;
  text-align: center;
  border: 1px solid #8C8C8B;
}

.order-item-qty .order-input {
  width: 112px;
  height: 41px;
  text-align: center;
  color: #8C8C8B;
}

.order-item-qty input::-webkit-outer-spin-button,
.order-item-qty input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-item-price span:nth-child(2) {
  color: #EAE8E8;
  text-decoration: line-through;
}

.order-item-fee {
  width: 290px;
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  letter-spacing: 1px;
}

.order-item-fee label {
  color: #8C8C8B;
}

.order-item-fee .custom-select {
  width: 400px;
  height: 50px;
  font-size: 25px;
}

.order-item-post .post-info {
  color: #8C8C8B;
}

.order-item-post span:nth-child(2) {
  color: #8C8C8B;
}

.order-item-count {
  width: 280px;
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
}

.order-item-count > span {
  color: #8C8C8B;
}

.order-item-count > div > span {
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.order-item-count > div > span:last-child {
  display: inline-block;
  width: 90px;
  text-align: left;
  margin-left: 100px;
}

.order-item-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 25px;
  border: 0;
}

.order-item-step button:nth-child(1) {
  background-color: transparent;
  border: 0;
}

.order-item-step button:nth-child(1) > a {
  color: #8C8C8B;
  letter-spacing: 4px;
  text-decoration: none;
}

.order-item-step button:nth-child(2) {
  color: #fff;
  background-color: #FEA8A3;
  padding: 16px 40px;
  margin-left: 40px;
  font-size: 25px;
  border: 0;
}

.order-item-step button:nth-child(2) > a {
  color: #ffff;
  letter-spacing: 4px;
  line-height: 40px;
  text-decoration: none;
}

.hr2 {
  width: 100%;
  height: 1px;
  background-color: #EAE8E8;
  margin: 10px 0 20px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-size: 25px;
  color: #585858;
}

.row .col-4 {
  padding-right: 30px !important;
}

.row .col-12 {
  margin-bottom: 30px !important;
}

.row .col-12 ::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(75%);
          filter: invert(75%);
}

.row .col-12 ::-webkit-input-placeholder {
  color: #8C8C8B;
}

.row .col-12 :-ms-input-placeholder {
  color: #8C8C8B;
}

.row .col-12 ::-ms-input-placeholder {
  color: #8C8C8B;
}

.row .col-12 ::placeholder {
  color: #8C8C8B;
}

.row .col-4,
.row .col-12 {
  padding: 0;
}

.row input {
  font-size: 25px;
  color: #585858;
}

.row textarea {
  font-size: 25px;
}

.recipient-content {
  width: 25%;
}

.serch-store {
  padding: 14px 60px;
  background-color: rgba(182, 182, 182, 0.185);
  border-radius: 6px;
  text-align: center;
}

.serch-store a {
  color: #8C8C8B;
  letter-spacing: 4px;
}

@media screen and (max-width: 1840px) {
  .containers {
    padding: 83px 50px 83px 50px;
  }
}

@media screen and (max-width: 1310px) {
  .containers {
    padding: 83px 34px 83px 34px !important;
  }
  .steps {
    padding: 0px;
    margin-bottom: 50px;
  }
  .progress {
    width: 45%;
  }
  .card-body {
    padding: 27px 37px;
  }
  .order-items-number {
    display: none;
  }
  .order-list {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .order-list .order-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .order-item-number {
    width: 70%;
    display: block;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    position: absolute;
    top: 49%;
    left: 195px;
  }
  .qtytotal-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-item-qty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .order-item-total {
    font-size: 30px;
  }
  .order-item-total::before {
    content: "小計";
  }
  .order-item-price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 !important;
  }
  .order-item-price span:nth-child(2) {
    margin-left: 20px;
  }
  .order-item-fee .custom-select {
    width: 300px;
  }
  .order-item-fee .custom-select > option {
    font-size: 5px;
  }
  .row {
    display: block;
  }
  .row .col-4 {
    max-width: 100%;
    padding-right: 0px !important;
  }
  .row textarea {
    font-size: 25px;
    margin-bottom: 63px !important;
  }
  .order-info-post .recipient-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-info-post .recipient-group div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-info-post .recipient-group .recipient-content {
    width: 100%;
    margin: 0 !important;
  }
  .order-info-post .recipient-group .recipient-content div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 27px;
  }
  .order-info-post .recipient-group .recipient-content div input {
    width: 75%;
  }
  .serch-store {
    width: 75%;
    padding: 14px 12px;
  }
}
/*# sourceMappingURL=checkout.css.map */